<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 10px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Random Cats GIFs</h2>
      <img src="{{url}}" />
      <br>
      <br>
      <div class="attribution" style="text-align: center;">
        Demo Flask App {{version}}
      </div>
      <br>
      <div class="attribution" style="text-align: center;">
        Demo Application by: <a href="https://jmanzur.com/">JManzur</a>
      </div>
    </div>
  </body>
</html>